{% extends "base.html" %}
{% block page_content %}
  <h2 class="mb-5">Tiendas</h2>
  <a href="create_store">Agregar tienda</a>
  {% for store in value %}
  <div class="container">
    <ol class="list-group list-group-numbered">
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold"><strong>{{store['name']}}</strong></div>
          <a href="store/{{store['name']}}">Ver items</a>
        </div>
      </li>
    </ol>
  </div>
  {% endfor %}
{% endblock %}