{% extends "base.html" %} {% block page_content %}
<h2 class="mb-5">{{value['name']}}</h2>
<a href="/create_item/{{value['name']}}" class="btn btn-primary float-right">Add item</a>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
    </tr>
  </thead>
  <tbody>
    {% for item in value['item'] %}
    <tr>
      <th>{{item['name']}}</th>
      <td>{{item['price']}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
